@font-face {
  font-family: "Cochin";
  src: url(4d9fc24aff7e5804e18292dba54caf46.woff); }

@font-face {
  font-family: "Cochin bold";
  src: url(f4264833a6e99b642aad512a160cc07c.woff); }

@font-face {
  font-family: "Cochin bolditalic";
  src: url(488f28d1bff0a7194dfd0bab883eb1fb.woff); }

@font-face {
  font-family: "Cochin italic";
  src: url(de240bef7a86e7812829cf396ea17a49.woff); }

@font-face {
  font-family: "Oldnewspapertype";
  src: url(a501e99a438e4b9108e0b3de438f612f.woff); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  background-image: url(19c658556b93c6efb06a7c431bd9ed80.jpg);
  box-sizing: border-box;
  padding: 2rem; }

body {
  margin: 0 auto; }

p {
  font-family: "oldnewspapertype", 'Times New Roman', serif; }

/******IMPORT ALL SCSS FILES HERE*******/
/******LOGOS********/
.login__logo-big svg {
  width: 100%;
  height: 7rem; }
  .login__logo-big svg .login-brand-name {
    font-size: 4rem; }

.login__logo-small svg {
  height: 3rem; }
  .login__logo-small svg .login-brand-name {
    font-size: 2.8rem; }

/********NAVBAR*******/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 3px solid #3f3f3f;
  z-index: 50; }
  .navbar__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%; }
    .navbar__logo img {
      height: 3rem;
      width: 5rem; }
  .navbar__nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16%;
    flex: 0 0 16%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navbar__nav span {
      font-size: 2rem;
      cursor: pointer;
      margin-right: -5px;
      width: 2.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 1.5rem;
      color: black; }
      .navbar__nav span img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%; }
  .navbar__content {
    -webkit-transition: all .3s;
    transition: all .3s; }

/******NAVBAR DROP DOWN BUTTONS******/
.navdropbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem; }
  .navdropbtns a {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    background-color: lightgray;
    color: #212121;
    padding: .3rem 2.5rem;
    margin-right: 2rem;
    outline: none; }

/*****SINGLE BUTTON******/
.btn {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  background-color: lightgray;
  color: #212121;
  padding: .3rem 2.5rem;
  margin-right: 2rem;
  outline: none;
  height: 3rem; }

.searchbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5rem 0; }
  .searchbar input {
    outline: none;
    border: 0;
    height: 5rem;
    padding: 0 1.5rem;
    font-size: 2rem;
    margin-right: 2.5rem;
    width: 50%;
    background-color: lightgray; }
    .searchbar input::-webkit-input-placeholder {
      color: #4e4e4e;
      font-size: 2rem; }
    .searchbar input:-ms-input-placeholder {
      color: #4e4e4e;
      font-size: 2rem; }
    .searchbar input::placeholder {
      color: #4e4e4e;
      font-size: 2rem; }
  .searchbar .submit {
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 400;
    height: 5rem;
    width: 10rem; }

/*****SINGLE FEED******/
.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .feed a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 88%;
    flex: 0 0 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: auto; }
    .feed a div.feed__thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      .feed a div.feed__thumbnail span, .feed a div.feed__thumbnail img {
        height: 100%;
        width: 100%; }
    .feed a div.feed__content {
      padding-left: 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .feed a div.feed__content h3 {
        font-size: 1.5rem;
        font-family: "Cochin", 'Times New Roman', serif;
        font-weight: 500;
        margin-top: -2px;
        line-height: 1.7rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 5.1rem; }
      .feed a div.feed__content h4 {
        font-size: 1rem;
        margin-top: auto;
        margin-bottom: -5px;
        font-weight: 300;
        font-family: "Cochin", 'Times New Roman', serif; }
  .feed div.feed__rating {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -5px; }
    .feed div.feed__rating p {
      font-size: 1.5rem;
      font-weight: 500; }
    .feed div.feed__rating button {
      background: transparent;
      border: 0;
      margin-top: auto;
      margin-bottom: -.7rem; }
      .feed div.feed__rating button:focus {
        outline: none; }
      .feed div.feed__rating button i {
        font-size: 1.7rem; }

/*******BOOKMARKS********/
.bookmarks__list .navdropbtns {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

/********PAGE NOT FOUND********/
.pagenotfound {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pagenotfound div {
    text-align: center; }
    .pagenotfound div h2 {
      font-size: 3rem;
      letter-spacing: 2px;
      margin: 2rem auto; }
    .pagenotfound div h3 {
      font-size: 2rem;
      letter-spacing: 2px;
      margin: 2rem auto; }

/********TOOL TIP********/
.tooltip {
  position: relative;
  display: inline-block; }

span.tooltiptext {
  visibility: hidden;
  width: 20rem;
  font-size: 1.5rem;
  font-family: "Cochin", 'Times New Roman', serif;
  background-color: rgba(110, 109, 109, 0.98);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .5rem 1rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 9rem; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.sticky__connections {
  position: fixed;
  width: 18%;
  overflow: hidden;
  left: 2.4%;
  top: 7.5vh; }

.center__content {
  margin-left: auto;
  margin-right: auto; }

.sticky__share {
  position: fixed;
  width: 20%;
  right: 1.55%;
  top: 7vh; }

/***********LOGIN PAGE************/
.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; }
  .login__container > div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .login__container-btns {
    width: 100%; }
    .login__container-btns a.btns {
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 400;
      text-decoration: none;
      background-color: lightgray;
      color: #212121;
      padding: .3rem 2.5rem;
      margin-right: 2rem;
      outline: none;
      font-size: 1.8rem;
      display: block;
      text-align: center;
      padding: 1.8rem 0;
      margin: 40px 0; }
      .login__container-btns a.btns:first-child {
        margin-top: 0; }
      .login__container-btns a.btns i {
        margin-right: 2.5rem; }
      .login__container-btns a.btns .fa-facebook-f {
        color: #3b5998; }
      .login__container-btns a.btns .fa-google {
        color: #db3236; }

/*********FEEDS PAGE************/
.feeds__container .trending__article {
  display: flex;
  margin-bottom: 2.5rem;
  height: 15vw;
  text-decoration: none;
  color: black; }
  .feeds__container .trending__article-thumbnail {
    flex: 0 0 28%; }
    .feeds__container .trending__article-thumbnail img {
      width: 100%;
      height: 100%;
      padding-right: 1%; }
    .feeds__container .trending__article-thumbnail > span span {
      flex: 100%;
      height: 100%;
      padding-right: 1%; }
  .feeds__container .trending__article-body {
    flex: 0 0 72%;
    padding-left: 3rem;
    column-count: 3;
    column-gap: 3rem;
    word-wrap: break-word;
    font-size: 1.4rem;
    overflow: hidden; }
    .feeds__container .trending__article-body h3 {
      font-size: 1.8rem;
      height: auto;
      color: #212121;
      font-family: "Cochin bold", 'Times New Roman', serif;
      font-weight: 300;
      line-height: 2.3rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
      .feeds__container .trending__article-body h3 span {
        flex-direction: column; }
    .feeds__container .trending__article-body p {
      text-align: justify;
      height: auto;
      line-height: 1.8rem;
      margin-top: 1rem;
      font-size: 1.5rem;
      font-family: "Cochin", 'Times New Roman', serif;
      color: #212121; }
      .feeds__container .trending__article-body p span {
        flex-direction: column; }
    .feeds__container .trending__article-body > span {
      display: flex;
      margin: 1px 0;
      width: 100%;
      justify-content: space-between; }
      .feeds__container .trending__article-body > span h4, .feeds__container .trending__article-body > span span:first-child {
        flex: 0 0 70%;
        font-family: "Cochin", 'Times New Roman', serif;
        font-weight: 400;
        color: #212121;
        font-size: 1.2rem;
        padding-top: 10px; }
      .feeds__container .trending__article-body > span i {
        margin-left: auto;
        margin-right: 1rem;
        font-size: 1.6rem;
        padding: 5px 0; }

.feeds__container-articles {
  display: flex;
  flex-wrap: wrap; }

/*********ARTICLE PAGE************/
.article__container {
  display: flex;
  flex-direction: column; }
  .article__container-headerimage img, .article__container-headerimage > span span {
    width: 100%;
    height: 60vh;
    margin-bottom: 2rem; }
  .article__container-body {
    display: flex; }
  .article__container-connections {
    display: flex;
    flex: 0 0 20%; }
    .article__container-connections ul {
      list-style-type: none;
      margin-top: 10rem; }
      .article__container-connections ul li, .article__container-connections ul > span {
        margin-bottom: 1rem;
        font-family: "Cochin", 'Times New Roman', serif;
        cursor: pointer;
        font-size: 1.8rem;
        line-height: 2rem;
        padding-right: 3rem;
        max-height: 2.2rem;
        overflow: hidden;
        text-overflow: ellipsis; }
        .article__container-connections ul li a, .article__container-connections ul > span a {
          text-decoration: none;
          color: black; }
    .article__container-connections li::before {
      content: "\A0   \A0   \A0        ";
      font-size: 1.3rem;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: yellow; }
    .article__container-connections li:nth-child(-n + 6)::before {
      background-color: magenta; }
    .article__container-connections li:nth-child(-n + 3)::before {
      background-color: cyan; }
  .article__container-content {
    flex: 0 0 60%; }
    .article__container-content h2 {
      font-size: 3.5rem;
      line-height: 4.3rem;
      letter-spacing: 1px;
      font-family: "Cochin", 'Times New Roman', serif; }
      .article__container-content h2 span {
        flex-direction: column;
        line-height: 1.7rem;
        margin: .5rem; }
    .article__container-content span {
      display: flex;
      margin-bottom: 2rem;
      justify-content: space-between; }
      .article__container-content span h3 {
        font-size: 1.8rem;
        flex: 0 0 80%;
        letter-spacing: 1px;
        font-family: "Cochin", 'Times New Roman', serif; }
        .article__container-content span h3 > span {
          margin-left: 1rem; }
      .article__container-content span .fas {
        font-size: 1.7rem;
        margin-top: 5px; }
      .article__container-content span .fa-save {
        margin-left: 5rem;
        margin-right: 1rem; }
    .article__container-content .para__skeleton > span {
      flex-direction: column; }
      .article__container-content .para__skeleton > span span {
        margin: .8rem; }
    .article__container-content img {
      width: 100%;
      margin: 2rem 0; }
    .article__container-content center {
      font-size: 1.3rem; }
    .article__container-content p {
      font-size: 1.5rem;
      text-align: justify; }
  .article__container-share {
    flex: 0 0 20%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column; }
    .article__container-share button {
      display: block;
      width: 80%;
      cursor: pointer;
      height: 3.5rem;
      font-size: 1.8rem;
      font-family: "Cochin", 'Times New Roman', serif;
      margin-bottom: 2rem;
      margin-left: 20%;
      text-align: left;
      border: 0;
      background-color: transparent; }
      .article__container-share button i {
        padding-right: 2rem; }
      .article__container-share button i.fa-facebook-f {
        padding-right: 2.5rem; }
      .article__container-share button i.fa-google-plus-g {
        padding-right: 1rem; }
    .article__container-share > span {
      width: 70%;
      margin: 5px auto; }

/*************** LAYOUT *****************/
@media only screen and (max-width: 500px) {
  .feeds__container .trending__article {
    flex-direction: column;
    height: 100%;
    margin-bottom: 1rem; }
    .feeds__container .trending__article-thumbnail {
      flex: 0 0 100%; }
      .feeds__container .trending__article-thumbnail img {
        padding-right: 0; }
    .feeds__container .trending__article-body {
      flex: 0 0 100%;
      column-count: 1;
      margin-top: 1rem;
      padding-left: 0;
      height: 30vh; }
      .feeds__container .trending__article-body h3 {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-height: 5.4rem; }
      .feeds__container .trending__article-body p {
        font-size: 1.6rem; }
  .feeds__container-articles .feed {
    height: 20vw;
    flex: 0 0 100%;
    margin: 1.5rem 0; } }

@media only screen and (min-width: 501px) and (max-width: 800px) {
  .feeds__container .navbar__nav {
    flex: 0 0 23%; }
  .feeds__container .trending__article {
    flex-direction: column;
    height: 100%;
    margin-bottom: 1rem; }
    .feeds__container .trending__article-thumbnail {
      flex: 0 0 100%; }
      .feeds__container .trending__article-thumbnail img {
        padding-right: 0; }
    .feeds__container .trending__article-body {
      flex: 0 0 100%;
      column-count: 2;
      margin-top: 1rem;
      padding-left: 0;
      height: 30vh; }
      .feeds__container .trending__article-body h3 {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-height: 5.4rem; }
      .feeds__container .trending__article-body p {
        font-size: 1.6rem; }
  .feeds__container-articles .feed {
    height: 12vw;
    flex: 0 0 46%;
    margin: 1.5rem 4%; }
    .feeds__container-articles .feed:first-child, .feeds__container-articles .feed:nth-child(2n + 1) {
      margin-left: 0; }
    .feeds__container-articles .feed:nth-child(2n) {
      margin-right: 0; } }

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .navbar__nav {
    flex: 0 0 20%; }
  .feeds__container .trending__article {
    height: 18vw; }
    .feeds__container .trending__article-body h3 {
      font-size: 1.8rem;
      line-height: 2rem; }
    .feeds__container .trending__article-body {
      column-count: 2; }
      .feeds__container .trending__article-body p {
        font-size: 1.6rem;
        line-height: 1.8rem; }
  .feeds__container-articles .feed {
    height: 8vw;
    flex: 0 0 29%;
    margin: 1.5rem 3%; }
    .feeds__container-articles .feed:first-child, .feeds__container-articles .feed:nth-child(3n + 1) {
      margin-left: 0; }
    .feeds__container-articles .feed:nth-child(3n) {
      margin-right: 0; } }

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .feeds__container .trending__article-body h3 {
    line-height: 2rem;
    max-height: 6rem; }
  .feeds__container .trending__article-body p {
    font-size: 1.6rem;
    line-height: 1.8rem; }
  .feeds__container-articles .feed {
    height: 5vw;
    flex: 0 0 22%;
    margin: 1.5rem 2%; }
    .feeds__container-articles .feed a div.feed__content h3 {
      font-size: 1.4rem;
      line-height: 1.7rem;
      max-height: 5.1rem; }
    .feeds__container-articles .feed:first-child, .feeds__container-articles .feed:nth-child(4n + 1) {
      margin-left: 0; }
    .feeds__container-articles .feed:nth-child(4n) {
      margin-right: 0; } }

@media only screen and (min-width: 1501px) {
  .feeds__container .trending__article-body {
    column-count: 4; }
    .feeds__container .trending__article-body h3 {
      font-size: 2.2rem;
      line-height: 2.3rem; }
    .feeds__container .trending__article-body > span h4 {
      font-size: 1.6rem; }
    .feeds__container .trending__article-body p {
      font-size: 2rem;
      line-height: 2.4rem; }
  .feeds__container-articles .feed {
    height: 5vw;
    flex: 0 0 16.7%;
    margin: 1.5rem 2%; }
    .feeds__container-articles .feed a div.feed__content h3 {
      font-size: 1.8rem;
      line-height: 2.1rem;
      max-height: 6rem; }
    .feeds__container-articles .feed:first-child, .feeds__container-articles .feed:nth-child(5n + 1) {
      margin-left: 0; }
    .feeds__container-articles .feed:nth-child(5n) {
      margin-right: 0; } }

/*************** UI *****************/
/********UTITLITIES**********/

